<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tetra.centre" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashScreenActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity android:name=".SignInActivity" android:screenOrientation="portrait" />
        <activity android:name=".SignUpActivity" android:screenOrientation="portrait" />
        <activity android:name=".SignUpFormActivity" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".InformationListActivity" android:screenOrientation="portrait" />
        <activity android:name=".InformationDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".InformationAddActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduShareActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduspiratorListActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduspiratorDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".StudentDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".ChatDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduspiratorDetailAssignmentActivity" android:screenOrientation="portrait" />
        <activity android:name=".ClassDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".EdushopActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduVideoListActivity" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".EduVideoAddActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduMediaListActivity" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".EduMediaDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduMediaAddActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduPaperListActivity"  android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".EduPaperDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".EduPaperAddActivity" android:screenOrientation="portrait" />
    </application>

</manifest>